<h1>Maquetacion float.</h1>
<section class="container">
    <article class="item c12"><h2>a</h2></article>
</section>
<section class="container">
    <article class="item c4"><h2>b</h2></article>
    <article class="item c4"><h2>c</h2></article>
    <article class="item c4"><h2>d</h2></article>

</section>
<section class="container">
    <article class="item c6"><h2>e</h2></article>
    <article class="item c6"><h2>f</h2></article>
</section>

